/* Form.css */

.form-container {
    max-width: 400px; /* Set a maximum width for the form container */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add some padding for spacing */
  }
  
  .input {
    width: 100%; /* Set the input width to 100% */
    padding: 10px; /* Add padding for better spacing */
    margin-bottom: 20px; /* Add margin bottom for spacing between inputs */
    font-size: 16px; /* Set font size */
  }
  
  .button {
    width: 100%; /* Set button width to 100% */
    padding: 12px 16px; /* Add padding */
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block; /* Change display to block for full width */
    font-size: 16px; /* Set font size */
    cursor: pointer;
    border-radius: 4px;
  }
